@import url("https://fonts.googleapis.com/css?family=Heebo:300,400,700,900|Roboto:300,400,500,700");
*, ::after, ::before {box-sizing: border-box;}
body {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  margin-bottom: 40px;
}
h1,h2,h3,h4,h5,h6 {font-family: Heebo,sans-serif;font-weight: 700;margin: 0;padding: 0;line-height: 1.2;}
a {text-decoration: none;transition: all 0.3s ease-in-out;}
a:hover, a:focus {text-decoration: none;outline: none;}
.list {list-style: none;margin: 0px;padding: 0px;}
.p_120{padding: 100px 120px;}


.container{width:100%;margin-right:auto;margin-left:auto}
.container{max-width:1140px}
.row{flex-wrap:wrap;display:flex;}
.col-box-6 {-ms-flex: 0 0 50%;flex: 0 0 50%;max-width: 50%;}
.col-box-4 {-ms-flex: 0 0 33.333333%;flex: 0 0 33.333333%;max-width: 33.333333%;}
.col-box-4,.col-box-6{position:relative;width:100%;padding-left:15px}

/*----------------------------------------------------*/
.home_banner_area {
  position: relative;
  z-index: 1;
  background-image: linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
  margin-bottom: 200px;}

.home_banner_area .box_1620 {
  min-height: 700px;
  border-radius: 12px;
  position: relative;
  bottom: -140px;
  background: #fff;
  padding: 30px;
  box-shadow: 0px 20px 80px 0px rgba(153, 153, 153, 0.3);}

.home_banner_area .banner_inner .banner_content .media .d-flex {
  display: flex!important;
  float: left;
  position: relative;}
.home_banner_area .banner_inner .banner_content .media .d-flex img{width: 93%;}
.media-body {-ms-flex: 1;flex: 1;padding-top: 125px;}
/*----------------------------------------------------*/
.counter-box{padding-top: 25px;}
.wel_item {
  border: 1px solid #eeeeee;
  padding: 20px 20px;
  border-radius: 5px;
  text-align: center;
  background: #faf8ff;
}
.personal_text h3 {
  font-size: 48px;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #222222;
}
.personal_text .basic_info li {
    margin-bottom: 10px;}
.personal_text .basic_info li a {
  position: relative;
  padding-left: 35px;
  font-size: 16px;
  color: #777777;}
.basic_info{padding-top: 30px;}
/*----------------------------------------------------*/
.containerx, .welcome_text h2 {
  margin-bottom: 18px;
  color: #333;
    margin-top: 10px;}
.about_img img {
    width: 500px;}

@media (min-width: 1620px) {
  .box_1620 {
    max-width: 1620px !important;
    margin: auto;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;}

.home_banner_area .banner_inner .banner_content .media .d-flex {padding-right: 120px;}}