@import url("https://fonts.googleapis.com/css?family=Roboto:400,500|Rubik:500,700");
 body {
     line-height: 26px;
     font-size: 15px;
     font-family: "Roboto", sans-serif;
     font-weight: 400;
     color: #777777;
     background: url(img/body-bg.png) no-repeat center;
     margin: 0px;
     padding: 0px;
}
 h1,h2,h3,h4,h5,h6 {font-family: "Rubik", sans-serif;font-weight: 500;color: #000000;}
a {text-decoration: none;transition: all 0.3s ease-in-out;}
a:hover, a:focus {text-decoration: none;outline: none;}
.text-center{text-align: center;}

.container{width:100%;margin-right:auto;margin-left:auto}
.container{max-width:1140px}
.row{flex-wrap:wrap;display:flex;}
.box-size-6{-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%;vertical-align:middle;align-self:center;float:left}
.box-size-3{-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}

.primary_btn {
    color: #fff;
    background-color: #8845f4;
    padding: 13px 0px;
    font-weight: 500;
    border-radius: 20px;}
.primary_btn span {padding: 0 42px;}
.sub-title{
    font-size: 24px;
    margin-bottom: 35px;}

/* Main Title Area css */
.about_area{padding: 130px 0;}
.main_title {
     text-align: left;
     margin-bottom: 100px;
     margin-left: 10.33333%;}
 .main_title h2 {
     font-size: 36px;
     font-weight: 700;
     margin-bottom: 15px;
     line-height: 50px;}
.main_title p{padding: 40px 0px;}

/* ------------------ */
.service-title {width: 100%;}
 .home_banner_area {
     z-index: 1;
     background: url(img/banner/home-banner.png) no-repeat scroll center center;
     background-size: cover;}
 .home_banner_area .banner_inner .home_right_img {padding-top: 100px;}
.home_banner_area .banner_inner .banner_content h1 {
    text-transform: uppercase;
    margin-top: 20px;
    font-size: 70px;
    line-height: 60px;
    margin-bottom: 25px;}
/* --------------------- */
.about_img img{width: 500px;}
 .box2{
     background: #fcf9fe;
     padding: 40px;
     box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.06);}

/* --------------------- */
 .features_area { padding-bottom: 170px; }
 .feature_item {
     padding: 45px 25px;
     text-align: center;
     background: #ecf7fb;
     margin-right: 10px;}
 .feature_item h4 {
     font-size: 20px;
     margin-bottom: 20px;}
/* --------------------- */
.bio-area{
    background-color: #f7f8ff;
    padding: 140px 140px;}
.item-header {padding-bottom: 15px}
.item-header p {color: #8845f4;}
.item-header h6 {
    line-height: 16px;
    font-size: 16px;
    margin: 0px;}

.education {
     background: #ffffff;
     padding: 55px 30px 60px;
     margin: 10px;
     box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.06);}

.edu-item {padding-left: 15px;padding-bottom: 30px;border-left: 1px solid rgba(137, 130, 247, .2)}