@import url("https://fonts.googleapis.com/css?family=Roboto:400,500|Rubik:500,700");
body {
  line-height: 26px;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #777777;
  background: url(img/body-bg.png) no-repeat center; }

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width:576px) {.container {max-width: 540px }}@media (min-width:768px) {.container {max-width: 720px }}@media (min-width:992px) {.container {max-width: 960px }}@media (min-width:1200px) {.container {max-width: 1140px }}.container-fluid {width: 100%;padding-right: 15px;padding-left: 15px;margin-right: auto;margin-left: auto }

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}
    .col-lg-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }
.justify-content-center {-ms-flex-pack: center!important;justify-content: center!important;}.text-left {text-align: left!important;}.box-size-3 {-ms-flex: 0 0 25%;flex: 0 0 25%;max-width: 25% }.box-size-5 {-ms-flex: 0 0 41.666667%;flex: 0 0 41.666667%;max-width: 41.666667% }.box-size-7 {-ms-flex: 0 0 50%;flex: 0 0 50%;max-width: 50% }.offside-box-1 {margin-left: 8.333333% }
h1,h2,h3,h4,h5,h6 {font-family: "Rubik", sans-serif;font-weight: 500;color: #000000;}a {text-decoration: none;transition: all 0.3s ease-in-out;}a:hover, a:focus {text-decoration: none;outline: none;}
.section_gap {padding: 130px 0;}@media (max-width: 1199px) {.section_gap {padding: 80px 0;}}.section_gap_top {padding-top: 200px;}@media (max-width: 1199px) {.section_gap_top {padding-top: 80px;}}.section_gap_bottom {padding-bottom: 200px;}@media (max-width: 1199px) {.section_gap_bottom {padding-bottom: 80px;}}
    .project-box {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%
    }
/* Main Title Area css
============================================================================================ */
.main_title {
    text-align: center;
    margin-bottom: 100px;
}
.main_title h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 15px;
    line-height: 50px;
    text-transform: uppercase;
}
.primary_btn {margin-left: 12px;display: inline-block;color: #fff;letter-spacing: 0px;font-family: "Rubik", sans-serif;font-weight: 500;font-size: 14px;line-height: 46px;outline: none !important;text-align: center;cursor: pointer;text-transform: uppercase;border-radius: 5px;background-origin: border-box;background-clip: content-box, border-box;background-color: #8845f4;    box-shadow: 0px 10px 30px rgba(118, 85, 225, 0.2);}
.primary_btn span {padding: 0 42px;}.primary_btn.tr-bg {background-image: linear-gradient(#ffffff, #ffffff), radial-gradient(circle at top left, #4458dc, #854fee);color: #222222;border: double 2px transparent;box-shadow: none;}

/* Home Banner Area css */
.hero_area{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}
.home_banner_area {
  z-index: 1;
      background: url(img/banner/home-banner.png) no-repeat scroll center center;
  background-size: cover; }
.home_banner_area .banner_inner {
    width: 100%; }
.home_banner_area .banner_inner .home_right_img {
      padding-top: 197px; }
 @media (max-width: 1480px) {.home_banner_area .banner_inner .home_right_img img {max-width: 100%;height: auto;}}@media (max-width: 991px) {.home_banner_area .banner_inner .home_right_img {display: none;}}.home_banner_area .banner_inner .box-size-7 {vertical-align: middle;align-self: center;}.home_banner_area .banner_inner .banner_content {text-align: left;}@media (max-width: 991px) {.home_banner_area .banner_inner .banner_content {margin-top: 150px;}}.home_banner_area .banner_inner .banner_content h3 {font-size: 40px;margin-bottom: 20px;position: relative;}@media (max-width: 575px) {.home_banner_area .banner_inner .banner_content h3:after {display: none;}}.home_banner_area .banner_inner .banner_content h1 {text-transform: uppercase; margin-top: 20px;font-size: 70px;line-height: 60px;margin-bottom: 25px;}@media (max-width: 1024px) {.home_banner_area .banner_inner .banner_content h1 {font-size: 60px;}}@media (max-width: 767px) {.home_banner_area .banner_inner .banner_content h1 {font-size: 50px;}}
.home_banner_area .banner_inner .banner_content h5 {
    font-size: 24px;
    margin-bottom: 35px;
}
.about_img img{width: 100%}
.box{padding-top: 65px;}
.box2{
    background: #fcf9fe;
    padding: 40px;
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.06);
}
/* Start Features Area css
============================================================================================ */
.features_area {
  padding-bottom: 170px; }
  @media (max-width: 1199px) {
  .features_area {padding-bottom: 50px; } }

.feature_item {
  padding: 45px 25px;
  text-align: center;
  background: #ecf7fb;
  cursor: pointer;
  margin-bottom: 30px;
  margin-right: 10px;
  transition: all 0.4s ease 0s; }

  .feature_item img {
    margin-bottom: 35px; }
  .feature_item h4 {
    font-size: 20px;
    margin-bottom: 20px;
    text-transform: uppercase; }
  .feature_item p {
    margin-bottom: 0px; }
  .feature_item:hover {
    box-shadow: 0px 15px 30px rgba(77, 87, 222, 0.3);
    background: #fff; }

/* End Features Area css */
    .box-size-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }

.education {
  background: #f7f8ff;
  border-radius: 5px;
  padding: 55px 30px 60px;
  margin: 10px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.06);
}

.education-border { border-left: 1px solid rgba(137, 130, 247, .2)}
.edu-item {padding-left: 15px;padding-bottom: 30px;}
.edu-item:first-child {padding-top: 5px}
.edu-item:last-child {padding-bottom: 0}

.experience-zone {
  padding-top: 30px;
  padding-bottom: 100px;
  display: flex;
}

.education .inner-title {
  padding-bottom: 31px;
  font-size: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.item-header {padding-bottom: 15px}

.item-header p {
  color: #8982f7;
  font-size: 12px;
  line-height: 21px
}
.item-header h6 {
  line-height: 16px;
  position: relative;
  font-weight: 400;
  font-size: 16px;
  margin: 0px;
}

.item-header h6:before {
  position: absolute;
  width: 13px;
  height: 13px;
  border: 2px solid #8982f7;
  background: #f0f0f0;
  border-radius: 100%;
  left: -22px
}

.edu-item:hover h6:before {
  background: #8982f7
}


.left-item{
  justify-content: flex-end;
      padding-right: 10px;
}


.statistics-box{

}

.statistics_area {
  position: relative;
    margin-top: -165px;
}

@media(max-width:991px) {
  .statistics_area {
    margin-top: 0
  }
}

.statistics_item {
    text-align: center;
    margin: 10px;
    padding: 19px 19px;
    background: linear-gradient(90deg,#54cfff24 0%,#eacbff6b 100%);
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.07);
}

@media(max-width:767px) {
  .statistics_item {
    margin-bottom: 20px
  }
}

.statistics_item h3 {
  font-size: 27px;
  margin-bottom: 5px
}

.statistics_item p {
  margin-bottom: 0;
  font-size: 16px;
  line-height: 24px
}

/* Start Portfolio Area css
============================================================================================ */
.portfolio_area {
  padding-bottom: 120px; }
  @media (max-width: 991px) {
    .portfolio_area {
      padding-bottom: 50px; } }

.work-box{
  width: 100%;
}

.portfolio_box {
  margin-bottom: 80px; }
  @media (max-width: 767px) {
    .portfolio_box {
      margin-bottom: 35px; } }
  .portfolio_box .short_info {
    margin-top: 30px; }
    @media (max-width: 767px) {
      .portfolio_box .short_info {
        margin-top: 20px; } }
    .portfolio_box .short_info h4 {
      text-transform: uppercase;
      font-size: 20px;
      margin-bottom: 0px; }
      .portfolio_box .short_info h4 a {
        color: #000000; }

.single_portfolio {
  position: relative; }
  .single_portfolio .overlay {
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s; }

  .single_portfolio:hover .overlay {
    background: rgba(77, 87, 222, 0.5); }


.portfolio_details_inner .row {
  margin-bottom: 65px; }
  @media (max-width: 480px) {
    .portfolio_details_inner .row {
      margin-bottom: 30px; } }
.portfolio_details_inner p {
  margin-bottom: 30px;
  font-size: 14px; }
  .portfolio_details_inner p:last-child {
    margin-bottom: 0px; }
.portfolio_details_inner .portfolio_right_text {
  margin-top: 50px; }
  .portfolio_details_inner .portfolio_right_text h4 {
    font-size: 20px;
    margin-bottom: 18px; }
  .portfolio_details_inner .portfolio_right_text p {
    margin-bottom: 25px;
    font-size: 14px; }
  .portfolio_details_inner .portfolio_right_text .list li {
    margin-bottom: 7px;
    font-weight: normal;
    font-size: 14px; }
    .portfolio_details_inner .portfolio_right_text .list li span {
      font-family: "Rubik", sans-serif;
      color: #000000;
      font-size: 16px;
      font-weight: 500;
      width: 97px;
      display: inline-block; }
    .portfolio_details_inner .portfolio_right_text .list li:last-child {
      margin-bottom: 0px; }
    .portfolio_details_inner .portfolio_right_text .list li i {
      color: #f1cd09; }
