*,::after,::before{box-sizing:border-box}
body{font-family:roboto,sans-serif;font-size:14px;line-height:24px;color:#333;padding:0;margin:0}
p{opacity:.9;color: #333}
a{text-decoration:none!important;padding:0;color:#000;}
.pd-15{padding: 0px 15px;}

.container{width:100%;margin-right:auto;margin-left:auto}
.container{max-width:1140px}
.row{flex-wrap:wrap;display:flex;}
.col-md-6{position:relative;width:100%;}
.col-md-6{-webkit-box-flex:0;-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}

.img-fluid{max-width:100%;height:auto}
img{vertical-align:middle;border-style:none}

.btn.btn-fill{background-color:#03a9f4;color:#fff;padding: 12px 30px;}
.white-vertion h2 {color: #000;}
.section-title {text-align: center;width: 100%;text-align:center}

.section-separator {padding: 80px 0;}
.section-title h3, h2, h4{
    margin-top: 0;
    font-size: 30px;
    line-height: 40px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 45px;}

/*HOME*/
 .white-vertion .img-color-overlay{
    background-color:rgba(249,252,255,.92)
}
.image-bg {background-position: center center;}
.home-2-img {background-image: url(images/home-bg-img.jpg);}
.pro-home .pro-header-info{padding-top:100px}
.pro-home .pro-header-info h2{
    font-size:60px;
    line-height:65px;
    margin-top:10px;
    margin-bottom:10px}

.pro-home .hero-img img{
    margin:0 auto;
    float:none;
    border:20px solid rgba(93,178,245,.37);
    border-radius:50%}

.pro-home .img-border{
    height:400px;
    width:400px;
    border:20px solid rgba(93,179,246,.12);
    margin:0 auto;
    border-radius:50%}

/* ABOUT*/
 .pro-about .pro-about-inner {padding-left: 50px;}
 .pro-about .pro-about-inner p {margin-bottom: 30px;}
 .pro-about .pro-about-inner .btn {margin-top: 20px;}
 .pro-about-tag {padding-bottom: 35px;}
/* ------------------------- */
 .pro-about-tag ul li {
     padding: 4px 0px;
     display: inline-block;
}
 .pro-about-tag ul li span {
    border: 1px solid #e3e3e3;
     padding: 4px 10px;}

/* Progress Bars */
.candidatos .parcial .info{
    text-align: center;
    position: relative;
    top: 30px;
    z-index: 1;
}
.nome{color: #fff!important;}
.candidatos .parcial .progressBar{
    position:relative;
    height:25px;
    margin: 5px 0 2px;
    border-radius: 4px;
    background-color: #e8e8e8;
}
.candidatos .parcial .percentagem{
    position:absolute;
    height: 25px;
    border-radius: 3px 3px;;
    background:#2196f3;}

/*Eudcation*/
.pro-experience, .pro-footer{background-color: #f8fbfe;}
.pro-service-item{
    padding:20px;
    margin-bottom: 20px;
    box-shadow: 0 10px 20px 4px #00000015;
    background-color: #fff;}

/* What i Do section */
.col-sm-4{
    width: 350px;
    position: relative;
    margin: 15px;
}